<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635642975537-q8v3qtoms88qohvudehs6rr8disvoqu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635642975537-q8v3qtoms88qohvudehs6rr8disvoqu0</string>
	<key>API_KEY</key>
	<string>AIzaSyAv6B2Ae6Bc-DiP5bA1BX1oJfPz3CCwK7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>635642975537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testProject</string>
	<key>PROJECT_ID</key>
	<string>animal-plantidentifier</string>
	<key>STORAGE_BUCKET</key>
	<string>animal-plantidentifier.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635642975537:ios:9428e9b78247d581768c10</string>
</dict>
</plist>